version: "3.9"

services:
  db:
    image: postgres:18
    container_name: taskmanager_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "55432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - backend

  backend:
    build: ./app
    container_name: taskmanager_api
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:
